* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: #000;
  color: #333;
  height: 30px;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

.wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap ul {
  display: inline-flex;
  margin-right: 10px;
}

.wrap li {
  margin-right: 10px;
}

.nav-link.active {
  color: #fff !important;
}

.menu-bar .wrap {
  height: 60px;
  background-color: #fff;
  align-items: center;
  padding-top: 20px 0;
  box-shadow: 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.menu-bar ul {
  text-transform: uppercase;
  color: rgb(155, 151, 151);
  font-weight: bold;
}

.menu-bar li:hover {
  color: black;
}

.hero {
  position: relative;
  padding: 5px 5px;
}

.hero-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hero-image img {
  width: 100%;
}

.hero-image > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  margin-right: 5px;
  transition: background-color 0.4s ease;
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  /* background-size: 885px 600px; */
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}

.img-1 {
  color: #fff;
  z-index: 1;
  position: relative;
}

.img-1-container {
  position: absolute;
  bottom: 40px;
  left: 0;
  line-height: 1;
}

.img-1-container h1 {
  font-weight: 700;
  font-size: 64px;
}

.img-2-container {
  position: relative;
  text-align: center;
  color: white;
  line-height: 1;
}

.text-container h1 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 1;
}
